

body {
    background-color: black;
    color: #7d7d7d;
}

nav>a {
    color: gray;
    text-decoration: none;
    margin: 0 20px;
}

nav>a:hover {
    color: white;
}

nav>a>img {
    padding: 10px 0 0 0;
    margin-bottom: -10px;
}

div.Container {
    background-position: top center;
    background-repeat: no-repeat;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    overflow: hidden;
    background-size: 100% 100%;
}

#Container_01 {
    background-image: url(../images/about/Container1.jpg);
    /* background-position: bottom; */
    background-color: #141415;
    margin-top: -1px;
    padding-bottom: 10px;
    text-align: center;
    padding-top: 100px;
}

#Container_02 {
    background-image: url(../images/about/Container2.jpg);
    background-color: #141415;
    padding: 30px 50px 50px;
    margin-top: -7px;
    text-align: center;
}

#Container_02 h1 {
    padding-top: 40px;
    text-transform: uppercase;
    font-size: 2vw;
    letter-spacing: .8vw;
    text-shadow: 2px 2px 5px #000000;
}

#Container_02 h3 {
    text-transform: uppercase;
    font-size: 14px;
    padding-top: 4px;
    padding-right: 12px;
    letter-spacing: 4px;
    text-shadow: 2px 2px 5px #000000;
}

.PlayButton{
    margin-top: 20px;
    width: 305px;
    height: 51px;
    font-size: 16px;
    line-height: 50px;
    text-transform: uppercase;
    color: #4585C3;
    background-color: #111C26;
    border: 1px solid #336391;
    border-radius: 3px;
    display: inline-block;
    text-decoration: none;
}

#Container_02 a:hover {
    background-color: #263f56;
    transition: .3s;
}

#Container_02 h2 {
    text-transform: uppercase;
    padding-top: 18px;
    font-size: 16px;
    color: #5C6163;
    text-shadow: 2px 2px 5px #000000;
    letter-spacing: 5px;
}

#Container_03 {
    background-image: url(../images/about/Container3.jpg);

}

#Container_03 .Inner {
    padding: 128px 0 0 45%;
    height: 680px;
    margin: 0 10%;

}

#Container_03 h1 {
    font-size: 34px;
    color: #1C1C1E;
}

#Container_03 p {
    font-size: 22px;
    display: block;
    line-height: 36px;
    /* width: 550px; */
    color: #1C1C1E;
}

#Container_03 h2 {
    font-size: 26px;
    padding-right: 43px;
    text-align: right;
    color: #4D5C5F;
    font-style: italic;
    padding-top: 91px;
    text-align: right;
}

#Container_03 h3 {
    font-size: 22px;
    text-align: right;
    padding-right: 60px;
    color: #4D5C5F;
}

#Container_04 {
    background-image: url(../images/about/Container4.jpg);

}

#Container_04 .Inner {
    padding: 128px 500px 0 0;
    height: 680px;
    background: transparent;
    margin: 0 3%;
}

#Container_04 h1 {
    font-size: 34px;
    padding-left: 77px;
    color: #ACB4B9;
}

#Container_04 p {
    font-size: 22px;
    line-height: 36px;
    padding-left: 77px;
    color: #9AA2A6;
}

#Container_04 h2 {
    padding-top: 91px;
    font-style: italic;
}

#Container_04 h3 {
    padding-top: 6px;
    padding-right: 228px;
    color: #505F62;
}

#Container_05 {
    background-image: url(../images/about/Container5.jpg);
    padding: 100px;
    text-align: center;
}

#Container_06 {
    background-image: url(../images/about/Container6.jpg);
    height: 972px;
}
#Container_06 .Inner{
    text-align: center;
    padding-top: 136px;
}
#Container_06 h1{
    font-size: 34px;
    color: #ACB4B9;
    
}
#Container_06 p{
    font-size: 22px;
    line-height: 37px;
    width: 740px;
    display: inline-block;
    color: #9AA2A6;
    padding: 12px 40px 0;   
}
#Container_06 a{
    margin-top: 0;
}
#Container_06 a:hover{
    background-color: #263f56;
    transition: .3s;
}
#Container_06 h2{
    width: 90px;
    margin: 15px auto;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    color: #4585C3;
}
#SteamLogo{
    height: 62px;
    width: 156px;
    top: 400px;
    right: 360px;
    margin: auto;
    background-image: url(../images/about/steam_logo.png);
}
#Container_07 {
    background-image: url(../images/about/footer.jpg);
    height: 334px;
}



