




.container{
    background-color:#2d2d2b;
    margin-top: -2px;
    /* height: 3000px; */
    position: relative;
    padding-top: 50px;
    /* color: #939393; */

}
.page_center{
    background-color:#2d2d2b;
    margin: 0 auto;
    border: 1px solid black;
    width: 938px;
    height: 4080px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 10px   black;
    text-align: center;
    padding: 0 20px;
}
.page_center h1{ 
    margin: 10px;
    padding: 8px 0;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-size: 33px;
    color: #d9d9d9;    
}
.topAM{
    margin: 10px 0 20px 0;
}
.page_center span{
    color: #ffffff;
}
.page_center hr{
    border: 1px solid gray;
}
.page_center h3{
    color: #9c3627;
    text-transform: uppercase;
    font-size: 24px;
    margin: 20px 0 10px 0;
}
.redbox_01{
    height: 505px;
    border:#250101 2px solid;
    text-align: left;
    padding: 20px 20px;
    box-shadow: 0px 0px 17px 5px black inset ;
}
.redbox_01 .amstat{
    float: left;
    
}
.imgIntel{
    position: absolute;
    left: 6px;
    top: 5px;
}
.statIntel{
    position: absolute;
    top: 14px;
    left: 47px;
}
.imgAgi{
    position: absolute;
    left: 6px;
    top: 47px;
}
.statAgi{
    position: absolute;
    top: 54px;
    left: 47px;
}
.imgStr{
    position: absolute;
    left: 6px;
    top: 87px;
}
.statStr{
    position: absolute;
    top: 94px;
    left: 47px;
}
.imgAtk{
    position: absolute;
    left: 124px;
    top: 5px;
}
.statAtk{
    position: absolute;
    top: 14px;
    left: 178px;
}
.imgMB{
    position: absolute;
    left: 117px;
    top: 43px;
}
.statMB{
    position: absolute;
    top: 54px;
    left: 178px;
}
.imgDF{
    position: absolute;
    left: 122px;
    top: 82px;
}
.statDF{
    position: absolute;
    top: 94px;
    left: 178px;
}
.imgSkill{
    float: left;
    margin: 0 20px ;
}
.amskill{
    width: 620px;
    float: left;
}
.amskill h2{
    margin:0px;
}
.redbox_02{
    height: 220px;
    border:#250101 2px solid;
    text-align: left;
    padding: 20px 20px;
    box-shadow: 0px 0px 17px 5px black inset;
}
.redbox_03{
    height: 180px;
    border:#250101 2px solid;
    text-align: left;
    padding: 20px 20px;
    box-shadow: 0px 0px 17px 5px black inset;
}
table{
    width: 50%;
    border-collapse: collapse;
}
.stat1 tr:nth-child(2n){
    background-color: rgb(68, 67, 67);
}
.stat2 tr:nth-child(2n+1){
    background-color: rgb(68, 67, 67);
}
.redbox_04{
    height: 2485px;
    border:#250101 2px solid;
    text-align: center;
    padding: 20px 20px;
    box-shadow: 0px 0px 17px 5px black inset;

}
.abilityInfo{
    background-color: rgb(66, 66, 65);
    height: 100px;
    text-align: left;
}
