nav.menu-header{
    text-align: left;
    width: 960px;
    border-bottom: 1px solid gray;
    height: 60px ;
    margin: 0 auto;
  }
  nav>a {
    color: gray;
    text-decoration: none;
    margin: 0 20px;
}

nav>a:hover {
    color: white;
}

nav>a>img {
    padding: 10px 0 0 0;
    margin-bottom: -10px;
}
body {
  background-color: black;
  color: #7d7d7d;
  margin: 0;
}


